.u_rotate3
{
    display: inline-block !important;
    transform: rotate(-3deg) !important;
}

.u_btn-right
{
    display: grid !important;
    justify-items: end !important;
}

.u_underline-svg
{
    display: grid !important;
    justify-content: center !important;
}

.u_hidden
{
    display: none !important;
}

.u_item-selected
{
    transform: scale(110%) !important;
    z-index: 1001 !important;

}

.u_to-fix
{
    font-weight: 700;
    color: red;
}